@tailwind base;
@tailwind components;
@tailwind utilities;

.cont:hover .hello{
    scale: 1;
}
.hello{
    scale: 0;
}
@media (max-width:900px) {
    html{
        font-size: 70%;
    }
}
@media (max-width:600px) {
    .navbar{
        position: absolute;
        top: 100%;left: 0;right: 0;
        background-color: #eee;
        border-top: 0.1rem solid rgb(0, 0, 0,0.3);
        display: none;
        /* clip-path: polygon(0 0,100% 0,100% 0,0 0); */
    }
    .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background-color: white;
        display: block;
    }
        /* clip-path: polygon(0 0,100% 0,100% 100%,0% 100%); */
    
}
